/* Animation */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-left {
  animation: slideInLeft 1s ease-out;
}

.animate-right {
  animation: slideInRight 1s ease-out;
}

/* Button style */
.read-more-btn {
  display: inline-block;
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #473284;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .text-lg-start {
    text-align: center !important;
  }
}
img:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
  cursor: pointer;
}
